<section id="registration">
  <div class="display">Registration</div>
  <div class="label">Account: {{address}}</div>
  <!--
  <form >
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon">&nbsp;</i>
        <input type="text" name="owner" placeholder="Owner" />
      </div>
    </div>

  </form>
  -->
</section>
