.waiting {
  background-color: #6c757d;
  margin-top: 10px;
  height: 100px;
  width: 100px;
  mask-size: contain;
  mask-image: url('../images/eth.svg');
  -webkit-mask-size: contain;
  -webkit-mask-image: url('../images/eth.svg');
  animation: roll 3s infinite;
  transform: rotate(30deg);
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


